:root {
  --text-color: #757575;
  --titel-color: #212121;
  --activ-color: #2196f3;
  --header-bcg-color: #ffffff;
  --hiro-bcg-color: #2f303a;
  --team-bcg-color: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --gradient: rgba(47, 48, 58, 0.4);
  --examples-position-color: rgba(47, 48, 58, 0.8);
  --icon-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --order-btn-focus: #188ce8;
}

/* common */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  color: var(--titel-color);
  background-color: var(--header-bcg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  max-width: 100%;
  display: block;
}

.common {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--header-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}

.modal-btn {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  background-color: var(--header-bcg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn > svg {
  fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--activ-color);
}

.order {
  width: 448px;
}

.order-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  display: block;
  margin-bottom: 12px;

  color: var(--titel-color);
}

.order-label {
  position: relative;

  display: flex;
  flex-direction: column;
}

.order-label:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.order-label:nth-child(5) {
  margin-bottom: 20px;
}

.order-input {
  padding: 11px 0 11px 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input:focus {
  border-color: var(--order-btn-focus);
  outline: none;
}

.lable-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--text-color);

  margin-bottom: 4px;
}

.order-textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-textarea:focus {
  border-color: var(--order-btn-focus);
  outline: none;
}

.order-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* castom-checkbox */

.order-confirm {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-align: center;

  margin-bottom: 30px;

  color: var(--text-color);
}

.order-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-origin: border-box;

  border: 2px solid var(--titel-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .order-icon {
  background-color: var(--activ-color);
  border-color: transparent;
}

.input-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement {
  display: inline;
  color: var(--activ-color);
  padding-left: 3px;
  letter-spacing: 0.03em;
}

.order-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--header-bcg-color);
  background-color: var(--activ-color);
  border-color: transparent;
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--order-btn-focus);
}

.order-svg {
  position: absolute;
  left: 15px;
  top: 50%;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-label:focus-within .order-svg {
  fill: var(--activ-color);
}

/* HEADER */

.current {
  position: relative;
}

.current::after {
  position: absolute;
  display: block;
  bottom: -1px;

  content: ' ';
  width: 100%;
  height: 4px;

  background-color: var(--activ-color);
  border-radius: 2px;
}

.hat-link.current {
  color: var(--activ-color);
}

.hat {
  background-color: var(--header-bcg-color);
  border-bottom: 1px solid var(--header-border-color);
}

.half {
  color: var(--activ-color);
}

.hat-logo,
.cellar-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  width: 145px;
}

.hat-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.hat-link,
.hat-logo {
  color: var(--titel-color);
  text-decoration: none;
}

.hat-link:hover,
.hat-link:focus {
  color: var(--activ-color);
}
.hat-contact {
  color: var(--text-color);

  text-decoration: none;
  font-style: normal;
}
.hat-contact:hover,
.hat-contact:focus {
  color: var(--activ-color);
}

.hat-list .hat-link,
.hat-list .hat-contact {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hat-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hat-list .item:not(:last-child) {
  margin-right: 50px;
}
.flex {
  display: flex;
  align-items: center;
}

.info {
  margin-left: auto;
}

/* hat-svg */

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

/* HIRO */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hiro,
.cellar {
  background-color: var(--hiro-bcg-color);
}

.hiro {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(var(--gradient), var(--gradient)), url(../images/hiro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.hiro-title {
  color: var(--header-bcg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;

  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 30px;

  margin-right: auto;
  margin-left: auto;
}
.hiro-button {
  color: var(--header-bcg-color);
  background-color: var(--activ-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;

  border-color: transparent;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;

  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hiro-button:hover,
.hiro-button:focus {
  color: var(--activ-color);
  background-color: var(--header-bcg-color);
}

/* ADVANTAGE */

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  color: var(--titel-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.advantage-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;

  margin: 0;
}
.advantage-list {
  margin-right: -30px;
}

.advantage-list > .subtitle {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

/* advantage-svg */

.advantage-icon {
  width: 270px;
  height: 120px;
  background-color: var(--team-bcg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

/* EXAMPLES */
.examples {
  padding-bottom: 94px;
}

.examples-title,
.ourteam-title,
.clients-title {
  color: var(--titel-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.examples-list {
  margin-right: -30px;
}

.examples-list > .subtitle {
  flex-basis: calc(100% / 3 - 30px);

  margin-right: 30px;
}

/* examples-posision */

.examples-posision {
  position: relative;
}

.examples-text {
  position: absolute;
  bottom: 0;
  text-align: center;

  width: 100%;

  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--header-bcg-color);
  background-color: var(--examples-position-color);
}

/*OURTEAM */

.ourteam {
  background-color: var(--team-bcg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourteam-list .title {
  color: var(--titel-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-transform: none;

  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.ourteam-list .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0;
  margin-bottom: 16px;
}

.carts {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.ourteam-list {
  margin-right: -30px;
}

.ourteam-item {
  flex-basis: calc(100% / 4 - 30px);

  margin-right: 30px;
}

/*border for our team card */

.ourteam-list > li {
  background: var(--header-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ourteam-svg */

.icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list:not(:last-child) {
  margin-right: 10px;
}

.icon-link:hover,
.icon-link:focus {
  fill: var(--header-bcg-color);
  background-color: var(--activ-color);
}
/* CLIENTS  */

.clients-title {
  margin-bottom: 50px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--activ-color);
  border-color: var(--activ-color);
}

.clients-icon {
  margin-right: -30px;
}

.clients-list {
  flex-basis: calc(100% / 6 - 30px);
  margin-right: 30px;
}

/* FOOTER */

.cellar {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cellar-logo {
  color: var(--header-bcg-color);
  text-decoration: none;

  display: block;
  margin-bottom: 20px;
}

.user {
  color: var(--header-bcg-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.user-mail,
.user-phone {
  color: var(--adress-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;

  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-mail:hover,
.user-mail:focus,
.user-phone:hover,
.user-phone:focus {
  color: var(--activ-color);
}

.user-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

/* footer-svg*/

.act {
  margin-left: 70px;
  align-self: flex-start;
  padding-top: 12px;
}

.act-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--header-bcg-color);

  display: block;
  margin-bottom: 20px;
}

.act-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--header-bcg-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.act-items:not(:last-child) {
  margin-right: 10px;
}

.act-link svg {
  fill: currentColor;
}
.act-link:hover,
.act-link:focus {
  background-color: var(--activ-color);
}

/* subscription */

.subscription {
  width: 570px;
  margin-left: auto;
  align-self: flex-start;
  padding-top: 12px;
}

.subscription-input {
  color: var(--header-bcg-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  width: 351px;
  padding: 15px 0 15px 16px;
  background-color: var(--hiro-bcg-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: inline-flex;

  align-items: center;
  margin-left: 12px;
  padding: 10px 28px;

  color: var(--header-bcg-color);
  background-color: var(--activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  border-width: 1px;

  cursor: pointer;
  transition: color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn:hover,
.subscription-btn:focus {
  background-color: var(--order-btn-focus);
}

.subscription-svg {
  fill: currentColor;
  margin-left: 10px;
}

/* PORTFOLIO */

.general {
  padding-top: 94px;
  padding-bottom: 94px;
}

.general-btn {
  color: var(--titel-color);
  background-color: var(--team-bcg-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;

  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.general-btn:hover,
.general-btn:focus {
  color: var(--header-bcg-color);
  background-color: var(--activ-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.general-list,
.general-items {
  list-style-type: none;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.general-link {
  text-decoration: none;
}

.general-cards {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.general-cards:hover,
.general-cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.general-link .prewieu {
  padding: 20px 24px;
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
}

.general-items li {
  background: var(--header-bcg-color);
}

.general-title {
  color: var(--titel-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 0;
  margin-top: 0;
}

.general-text {
  color: var(--text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;

  margin-top: 4px;
  margin-bottom: 0;
}

/*portfolio/ flex */
.general-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.general-list li:not(:last-child) {
  margin-right: 8px;
}

.general-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.general-items li {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

/* portfolio-hidden-container */

.hidden-info {
  position: absolute;
  top: 100%;

  margin: 0;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;

  background: rgba(33, 150, 243, 0.9);
  color: var(--header-bcg-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.general-cards:hover .hidden-info,
.general-cards:focus .hidden-info {
  transform: translateY(-100%);
}

.hidden-container {
  position: relative;
  overflow: hidden;
}
