.advantage-section {
  padding-top: 94px;
}

.container {
  @extend %container;
}

.advantage-section__title {
  @extend %visually-hidden;
}

.advantage-list {
  @extend %list;
  @include display-flex(center);
  flex-wrap: wrap;
  margin-right: -30px;

  &__icon {
    @include display-flex(center);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $advantage-svg-color;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $title-color;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: $text-color;
  }

  &__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}
