.header {
  border-bottom: 1px solid #ececec;
}
.container {
  @extend %container;
  &--flex {
    @include display-flex(space-between);
  }
}

.header__nav {
  @include display-flex(center);
}

.logo {
  @extend %logo-text-decor;
  padding-top: 24px;
  padding-bottom: 25px;

  .logo__half {
    color: $logo-header-color;
  }
}

.header__list {
  @extend %list;
  @include display-flex(center);

  margin-left: 93px;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  @extend %header-text-decor;
  padding-top: 32px;
  padding-bottom: 32px;
  @extend %link;
  color: $nav-color;

  &--current {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      bottom: -1px;

      content: ' ';
      width: 100%;
      height: 4px;

      background-color: $hover-color;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

.header-contact {
  @include display-flex(center);
  @extend %list;

  &__link {
    @include display-flex(center);
    @extend %header-text-decor;
    @extend %link;
    color: $header-info-color;

    &:hover,
    &:focus {
      color: $hover-color;
    }
  }

  &__icone {
    fill: currentColor;
    margin-right: 10px;
  }
}

.header-contact__item:not(:last-child) {
  margin-right: 30px;
}
