$nav-color:#212121;                                        //header
$header-info-color: #757575;                                 
$logo-color:#2196F3;                                       //logo
$logo-header-color:rgba(0, 0, 0, 1)
$logo-footer-color:rgba(255, 255, 255, 1);
$accent-color: #ffffff;                                    //white-color
$btn-bcg-color:#2196F3;                                    //btn-color
$hiro-footer-bcg-color:#2F303A;                            //hiro-color
$hiro-gradient-color:rgba(47, 48, 58, 0.4);
$title-color: #212121;                                     //title-color
$text-color: #757575;                                      //text-color
$advantage-svg-color:#F5F4FA;                              //advantage-section
$examples-color:rgba(47, 48, 58, 0.8);                     //examples-section
$team-section-bcg-color:#F5F4FA;                           //team-section
$team-cards-bcg-color:#FFFFFF;
$team-socialLinks-color:#AFB1B8;
$team-position-color:#757575;
$clients-logo-color:#AFB1B8;                               //clients-section
$footer-info-color: rgba(255, 255, 255, 0.6);   
$footer-socialLinks-color:rgba(255, 255, 255, 0.1);        //footer
$hover-color: #2196F3;                                     //hover, focus
$btn-hover-color:#188CE8;                                   
$backdrop-color:rgba(0, 0, 0, 0.2);                        //backdrop
$modal-main-color:#212121;                                 //modal
$modal-lable-color:#757575;
$modal-placeholder-color:rgba(117, 117, 117, 0.5);                                
